<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.club.business.sys.dao.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.club.business.sys.vo.SysRole">
        <id column="ROLE_ID" property="roleId" />
        <result column="ROLE_NAME" property="roleName" />
        <result column="ROLE_DESCRIBE" property="roleDescribe" />
        <result column="STATUS" property="status" />
        <result column="ENTRY_USER_ID" property="entryUserId" />
        <result column="ENTRY_USER_NAME" property="entryUserName" />
        <result column="ENTRY_USER_TIME" property="entryUserTime" />
        <result column="UPDATE_USER_ID" property="updateUserId" />
        <result column="UPDATE_USER_NAME" property="updateUserName" />
        <result column="UPDATE_USER_TIME" property="updateUserTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ROLE_ID, ROLE_NAME, ROLE_DESCRIBE, STATUS, ENTRY_USER_ID, ENTRY_USER_NAME, ENTRY_USER_TIME, UPDATE_USER_ID, UPDATE_USER_NAME, UPDATE_USER_TIME
    </sql>

</mapper>
